
@{
    ViewBag.Title = "Компании";
}

<h2>Данные о компаниях</h2>
<table border="1" class="table-bordered">
    <tr><th>Название компании</th><th>Пользователь</th><th>Статус</th>><th>&nbsp;</th><th>&nbsp;</th></tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.User</td>
            <td>@item.Status</td>

            <td>
                <a href='@Url.Action("ChangeInfo",new { id = item.User })'>
                        <img src="~/images/1461594147_txt2.png" alt="Изменение информации о пользователе" />
                    </a>
            </td>
            <td>
                <a href='@Url.Action("DeleteInfo", new {id = item.User })'>
                        <img src="~/images/1461192651_Cancel.png" alt="Удаление пользователя" />
                    </a>
            </td>
        </tr>
    }
</table>
<p></p>
<a href='@Url.Action("CreateUser")'>
        <img src="~/images/1461594964_book_add.png" alt="Добавить пользователя" />
    </a>